.idea/*
**/__pycache__/*
**/__MACOSX/*
*.pyc
data/.DS_Store
.DS_Store
.vscode
.vscode/*
medzoo/datasets/**/*.hdr    
medzoo/datasets/**/*.img
medzoo/datasets/**/*.txt
**/generated/*
runs/*
saved_models/*