{%-
set external_urls = {
  'github': 'https://github.com/black0017/MedicalZooPytorch',
  'github_issues': 'https://github.com/black0017/MedicalZooPytorch/issues',
  'contributing': 'https://github.com/black0017/MedicalZooPytorch/blob/master/CONTRIBUTING.md',
  'api': '',
  'docs': '',
  'home': '',
  'get_started': '',
  'features': '',
}
-%}
{%-
set og = {
  'description': 'API docs for Medical Zoo . Medical Zoo is a 3D multi-modal medical image segmentation library in PyTorch'
}
-%}